.page-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.series-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;

    color: white;
    text-align: center;
}

.series-info .left-panel {
    flex: 1;
}

.series-info .right-panel {
    flex: 3;
}

.series-info a {
    color: white;
    text-decoration: none;
}

.series-info-entry label {
    display: none;
}

.series-info-entry div {
    display: inline-block;
}

.series-info-entry .title {
    font-size: 3em;
}

.series-info-entry .year {
    font-size: 1em;
}

.series-info-entry .author {
    font-size: 1em;
}

.series-info-entry .description {
    margin-top: 1em;
    font-size: 0.85em;
    white-space: pre-line;
}

.archive-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    padding: 20px;
}
