html {
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    width: 100%;
    height: 100%;
    max-width: 1200px;
}

.nav {
    height: 50px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 20px;
}

.nav-item {
    display: inline-flex;
    align-items: center;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.preview {
    height: 275px;
    width: 175px;
}

.preview a {
    height: 100%;
    width: 100%;

    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 0.9em;
}

.preview img {
    height: 230px;
    width: 100%;
    object-fit: fill;
    border-radius: 10px;
}

.preview .title {
    height: 40px;
    width: 100%;
    margin-top: 5px;
}
